.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  grid-area: button;
  align-self: end;
  border: 1px solid #fff;
  padding: 11px;
  max-width: 24px;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center center;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 894px) {
  .profile__edit-button {
    margin: 0;
  }
}

@media screen and (max-width: 395px) {
  .profile__edit-button {
    align-self: center;
    justify-self: start;
    padding: 8.5px;
  }
}

