.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 10px 0;
  max-width: 358px;
}

.popup__input:first-of-type {
  margin-top: 48px;
}

@media screen and (max-width: 320px) {
  .popup__input:first-of-type {
    margin-top: 75px;
  }
  .popup__input:last-of-type {
    margin-bottom: 14px;
  }
}
